
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
p {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-family: "Raleway", sans-serif; /* Для текста */
    font-weight: 400; /* Обычная жирность */
}
.container {
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    align-items: center;
}
@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}
@media (min-width: 1158px) {
    .container {
        width: 1158px;
        padding: 0 15px;
    }
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none; /* Убирает подчеркивание */
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.button-button {
    padding: 0;
}
/* Стили для логотипа */
.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    text-decoration: none; /* Убирает подчеркивание */
    margin-right: 76px;
}
/* Стили для span внутри логотипа */
.logo-span {
    color: #2e2f42;
}
/* Header styles */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
h1,
h2,
h3 {
    font-family: "Roboto", sans-serif; /* Для заголовков */
    font-weight: 700; /* Жирность */
}


/*мы делаем телефон сначала а медиа правила мы делаем для всго остального   */

/* #region Header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}
.top-line {
    display: flex;
    align-items: center;
}
.web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
}
.studio {
    color: #2e2f42;
    position: relative;
    transition-property: color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav {
    display: flex;
    gap: 40px;
}
.nav-link-studio::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav-link {
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    position: relative;
    color: #404bbf;
}

.nav .nav-link:hover,
.nav .nav-link:focus {
    color: #404bbf;
}
@media (max-width: 767px) {
    .nav {
        display: none;
    }
}
/* Adres */
.adres {
    font-style: normal;
    margin-left: auto;
}
@media (max-width: 767px) {
    .adres {
        display: none;
    }
}
@media (min-width: 1158px) {
    .adres-page {
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        gap: 40px;
    }
}
@media (min-width: 768px) {
    .adres-link {
        color: #434455;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
@media (min-width: 1158px) {
    .adres-link {
        font-size: 16px;
        line-height: 1.5;
        display: inline-block;
    }
}
.adres .adres-link:hover,
.adres .adres-link:focus {
    color: #404bbf;
}
@media(min-width: 768px){
    .mobile-btn-open {
        display: none;
    }
}
.mobile-btn-open {
    padding: 16px 0;
    line-height: 0;
    background-color: transparent;
    border: none;
    margin-left: auto;
}
.mobile-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 100;
    visibility: hidden;
    pointer-events: none;
    opacity: 1;
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: visibility, pacity, pointer-events;
}
.mobile-menu-container.is-open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-wrapper {
    min-width: 320px;
    min-height: 640px;
    background: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 40px 16px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-solid-menu-close {
    fill: #2e2f42;
}
.mobile-btn-close:hover,
.mobile-btn-close:focus {
    background-color: #404bbf;
    border: none;
}

.mobile-btn-close:hover .icon-solid-menu-close,
.mobile-btn-close:focus .icon-solid-menu-close {
    fill: #ffffff;
}
.mobile-menu-nav {
    margin-bottom: 168px;
}
.mobile-menu-link-lishka:not(:last-child) {
    margin-bottom: 40px;
}
.mobile-menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus {
    color: #404bbf;
}
.mobile-menu-nav-link.mobile-menu-studio {
    color: #404bbf;
}
.mobile-menu-adres-page {
    margin-top: auto;
    margin-bottom: 48px;
}
.mobile-menu-adres-lishka:not(:last-child) {
    margin-bottom: 24px;
}
.mobile-menu-adres-link-tel {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4D5AE5;
}
.mobile-menu-adres-link-email {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}
.mobile-menu-list-svg {
    display: flex;
    justify-content: start;
    gap: 40px;
}
.mobile-menu-lishka-svg {
    width: 40px;
    height: 40px;
}
.mobile-menu-svg {
    fill: #f4f4fd;
}
.mobile-menu-link-svg {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-link-svg:focus {
    background-color: #404bbf;
}
.mobile-menu-link-svg {
    gap: calc((100% - 160px) / 4);
}
/* #endregion */
/*=======================================*/
/*=======================HERO PAGE========================*/
.hero{

padding: 96px 0;
    text-align: center;
    background-color: #2e2f42;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*надо доделать темный фон или скачать в тз посмотреть */
    background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
    ),
    url(../images/peaple-back.jpg);
}
/*=======================================*/
.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*=======================================*/
.hero-zag{
    width: 216px;
    font-size: 36px;
    color: white;
    margin-bottom: 72px;
}
@media (min-width: 768px){
    .hero-zag {
        width: 496px;
        font-size: 56px;
        margin-bottom: 36px;
    }
}
/*=======================================*/
.button-button{
    height: 56px;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-button:focus,
.button-button:hover {
    background-color: #404bbf;
    cursor: pointer;
}

/*=======================================*/

/*=======================HERO PAGE end========================*/


/*=======================================*//*=======================================*/
/*=======================================*//*=======================================*/

/*=======================FEATURE SECTION=======================*/
.section-feature{
    padding: 96px 0;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
@media(min-width: 1200px){
    .section-feature {
        padding: 120px 0;
    }
}
/*=======================================*/
.feature-list{
    display: flex;
    flex-direction: column;

    gap:72px ;

}
@media (min-width: 768px){
    .feature-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;

    }
}

/*=======================================*/
.feature-item{
    display: flex;
    flex-direction: column;

    width: 100%;


}
@media (min-width: 768px){
    .feature-item {
     display: flex;
       text-align: left;
        flex-basis: calc(50% - 24px);
    }
    @media (min-width: 1200px) {
     .feature-item {
        flex-basis: calc(25% - 24px);
      }
    }

}


/*=======================================*/
.feature-zag{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;

}
@media(min-width: 768px){
    .feature-zag {
        font-size: 36px;
        text-align: left;
    }
}
@media (min-width:1200px) {
    .feature-zag {

        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;

    }
}


/*=======================================*/
.feature-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: left;
}
@media(min-width: 1200px){
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

/*=======================================*/

@media screen and (max-width: 1200px) {
    .icon-feature{
        display: none;
    }
}
@media(min-width: 1200px) {
    .back-feature {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #8e8f99;
        background-color: #f4f4fd;
        margin-bottom: 8px;
        border-radius: 4px;
        width: 264px;
        height: 112px;
    }
}
/*=======================FEATURE SECTION END=======================*/
/*=======================SECTION OUR TEAM=======================*/

/*=======================================*/
/*=======================================*/
/*=======================================*/
/* #region ThirdSection */
.section-team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

@media screen and (max-width: 1157px) {
    .section-team {
        padding: 96px 0;
    }
}


.team-zag {
    margin-bottom: 72px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2e2f42;
}

.team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

@media (max-width: 767px) {
    .team-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 72px;

    }
}

@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 40px;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }
}

.team-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
                0px 1px 1px 0px rgba(46, 47, 66, 0.16),
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.hero-content-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 32px 0 32px;
    gap: 8px;
}

.h_cart {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.p_cart {
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 24px;
}

.our-team-links {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.our-team-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.team-list-content-messangers {*/
/*    align-items: center;*/
/*    flex-direction: row;*/
/*    max-width: 100%;*/
/*}*/

.team-list-link-icon{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-link-icon:focus,
.team-list-link-icon:hover {
    background-color: #404bbf;
}

.social-icon {
    fill: #f4f4fd;
}
/* #endregion */
/*=======================SECTION OUR TEAM END=======================*/
/*=======================SECTION PORTFOLIO=======================*/
.portfolio-section {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}
@media (min-width: 1200px){
    .portfolio-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

}
/*=======================================*/
.portfolio-hero-text {
    margin-bottom: 48px;
    color: #2e2f42;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    font-weight: 700;
    line-height: 111%;



}
@media(min-width: 1200px)  {
    .portfolio-hero-text {
        margin-bottom: 72px;

    }
}
/*=======================================*/
.portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px;
}
@media (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        column-gap: 24px;
        row-gap: 64px;

    }
}
@media (min-width: 1200px) {
    .portfolio-list {

        row-gap: 48px;
    }
}
/*=======================================*/
.portfolio-item:hover {
    box-shadow:
            0 1px 6px rgba(46, 47, 66, 0.08),
            0 1px 1px rgba(46, 47, 66, 0.16),
            0 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-hiden-text {
    transform: translateY(0);
}
@media (min-width: 768px) {
    .portfolio-item {
        width: calc((100% - 48px) / 2);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media (min-width: 1200px) {
    .portfolio-item {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
/*=======================================*/
.portfolio-content {
    position: relative;
    overflow: hidden;
}

/*=======================================*/
.portfolio-hiden-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
}

/*=======================================*/
.portfolio-list-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
@media (min-width: 1200px) {
    .portfolio-list-item {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }
}
/*=======================================*/
.portfolio-main-text {
    margin-bottom: 8px;
}
@media (min-width: 1200px) {
    .portfolio-main-text {
        margin-bottom: 8px;
    }
}
/*=======================================*/
/*=======================================*/
/*=======================================*/

/*=======================SECTION PORTFOLIO END=======================*/
/*=======================FOOTER=======================*/
.footer {
    background-color: #2e2f42;
}
@media screen and (max-width: 1157px) {
    .footer {
        padding: 96px 0;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 100px 0;
    }
}
/*----------------------------------------------------------------*/
.footer .container {
    text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer .container {
        width: 552px;
        text-align: start;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1158px) {
    .footer .container {
        display: flex;
        text-align: start;
    }
}
/*----------------------------------------------------------------*/
.footer-content {
    width: 264px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .footer-content{
        margin: 0 24px 0 0;
    }
}

@media screen and (min-width: 1158px) {
    .footer-content {
        margin-right: 120px;
    }
}
/*=======================================*/
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #4d5ae5;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.studio-footer {
    color: #f4f4fd;
}
.footer-text {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    width: 264px;
    margin-left: auto;
    margin-right: auto;
}
/*=======================================*/
.footer-social {

}
@media (min-width: 768px) {
    margin-top: 0;
}
.footer-social-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 1);
}
@media (min-width: 768px) {
    margin-top: 0;
}
/*=======================================*/
.footer-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.footer-social-item {
    width: 40px;
    height: 40px;
}
/*=======================================*/
.footer-social-icon {

    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon:hover,
.footer-social-icon:active,
.footer-social-icon:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #f4f4fd;
}
/*=======================================*/
/* #region SubscribeItem */
@media screen and (max-width: 767px) {
    .subscribe-item {
        margin-top: 72px;
    }
}

@media screen and (min-width: 768px) {
    .subscribe-item {
        margin-top: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .subscribe-item {
        margin-top: 0;
        margin-left: 80px;
    }
}
/*=======================================*/
.subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
/*=======================================*/
.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (min-width: 768px) {
    .form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
}
/*=======================================*/
.email-input {
    height: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: transparent;
    width: 100%;
    flex-shrink: 0;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: none;
}

@media screen and (min-width: 768px) {
    .email-input {
        width: 264px;
    }
}
/*=======================================*/
.email-input::placeholder {
    color: #ffffff;
}
/*=======================================*/
.form-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    min-width: 165px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
}
/*=======================================*/
.footer-icon-telegram {
    fill: rgba(255, 255, 255, 1);
    margin-left: 16px;
}
/* #endregion */

/*=======================================*/
/*=======================FOOTER END=======================*/
/*=======================MODAL WINDOW=======================*/
/* #region Open */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 100;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: visibility, pacity, pointer-events;
}
.backdrop.is-open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 320px) {
    .modal {
        overflow-y: scroll;
    }
}
@media (max-width: 767px) {
    .modal {
        max-width: 288px;
        padding: 72px 16px 24px 16px;
    }
}
.btn-close-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close-modal:hover,
.btn-close-modal:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.footer-btn-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn-close:hover,
.footer-btn-close:focus {
    fill: #ffffff;
}
.modal-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}
.accent-color {
    color: #fd9222;
}
.modal-wrapper {
    margin-bottom: 8px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
    flex-direction: column;
}

.modal-field {
    position: relative;
}

.modal-field-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-color: #4D5AE5;
    border: 1px solid rgba(46, 47, 66, 0.4);
}
.modal-field-input:focus {
    border-color: #4D5AE5;
}
.modal-field-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill:#2e2f42;
}
.modal-field-input:focus + .modal-field-svg {
    fill:#4D5AE5;
}
.modal-textarea-wrapper {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
    border-color: #4D5AE5;
}
.modal-wrapper-checkbox {
    margin-bottom: 24px;
}
.modal-privacy-user {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.modal-privacy-text {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.user-privacy:checked + .modal-privacy-user .modal-privacy-text {
    background-color:#404bbf;
    border: none;
    fill: #F4F4FD;
}
.checkbox-policy-link {
    color: #4d5ae5;
}
.modal-form-btn {
    font-family: "Roboto", sans-serif;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}